<div class="container mt-3 mb-5">
	<p>Hello <%= @patient.full_name %> </p>
	<p>Your account has been created. Here are your login details: </p>
	<p><strong>Email:</strong> <%= @patient.email %></p>
	<p><strong>Password:</strong> <%= @password %></p>
	<p>Please log in and change your password immediately</p>
</div>
